name: release

on:
  release:
    types: [published]

jobs:
  build-and-publish:
    name: Build and publish library to NuGet
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "3.1.100"

      - name: Build and publish library to NuGet
        run: |
          echo ${{ github.ref }}
          cat ${{ github.event_path }}
          dotnet build --configuration Release ./src/Dodo.HttpClientExtensions/Dodo.HttpClientExtensions.csproj
          dotnet test --configuration Release ./src/Dodo.HttpClientExtensions.Tests/Dodo.HttpClientExtensions.Tests.csproj
          dotnet pack --no-restore --no-build --configuration Release --output out/ ./src/Dodo.HttpClientExtensions/Dodo.HttpClientExtensions.csproj
          echo "dotnet publish ..."
      - uses: actions/upload-artifact@master
        with:
          name: NuGet package
          path: out/


  upload-release-assets:
    name: Upload release assets
    runs-on: ubuntu-latest

    needs: build-and-publish

    steps:
      - uses: actions/download-artifact@master
        with:
          name: NuGet package
          path: out

      - name: Get package
        id: get-package
        run: |
          echo "::set-output name=package::$(ls out/)"

      - name: Upload release assets
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./out/${{ steps.get-package.outputs.package }}
          asset_name: ${{ steps.get-package.outputs.package }}
          asset_content_type: application/zip
